* {
  box-sizing: border-box;
}

body {
  background: lightblue;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: orangered;
  padding: 20px 30px;
  border-bottom: 5px solid black;
  text-align: center;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.quiz-body {
  background-color: gray;
  padding: 20px;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  margin-top: 20px;
}

.quiz-questions {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quiz-options{
    list-style: none;
  
}

.quiz-options li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border: solid orangered;
  border-radius: 10px;
  margin: 20px;
  background-color: white;
}


.submit-btn {
  padding: 10px;
}

.hide {
  display: none;
}

.input-style {
  width: 25%;
  
}